{% extends 'base.html' %}

{% block title %}
  Adicionar Fonte - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <div style="text-align:center;">
    <b>Cadastro de fonte</b>
  </div>
  <br />
  <br />
  <form action="" method="POST">
    {% csrf_token %}
    <label>Nome:</label>
    <br />
    {{ form.name }}
    <br />
    <br />
    <label>Descricao:</label>
    <br />
    {{ form.description }}
    <br />
    <label>URL:</label>
    <br />
    {{ form.url }}
    <br />
    <br />
    <button type="submit">Salvar</button>
  </form>
{% endblock %}