{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}
  Adicionar Autor - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <div style="text-align:center;">
    <b>Cadastro de Autor</b>
  </div>
  <br />
  <br />
  <form action="" method="POST">
    {% csrf_token %}
    <label>Nome:</label>
    <br />
    {{ form.name }}
    <br />
    <br />
    <label>Idade:</label>
    <br />
    {{ form.idade }}
    <br />
    <br />
    <button type="submit">Salvar</button>
  </form>
{% endblock %}