{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block title %}
  Lista de Autor - {{ block.super }}
{% endblock %}

{% block body %}
   <br />
    <a href="{% url 'autor:add_autor' %}"><button>Cadastro de novo autor</button></a>
  <br />
  <br />
  <div style="text-align:center;">
    <b>Autores</b>
  </div>
  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for autor in autor %}
        <tr>
          <th>{{ autor.id }}</th>
          <td>{{ autor.name }}</td>
          <td>{{ autor.idade }}</td>
          <td>
            <a href="{% url 'autor:edit_autor' autor.id %}">Editar</a>
          </td>
          <td>
            <a href="{% url 'autor:delete_autor' autor.id %}" >Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}