{% extends 'base.html' %}

{% block title %}
  Lista de Editors - {{ block.super }}
{% endblock %}

{% block body %}
   <br />
    <a href="{% url 'editor:add_editor' %}"><button>Cadastro de novo editor</button></a>
  <br />
  <br />
 <div style="text-align:center;">
    <b>Editores</b>
  </div>
  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for editor in editor %}
        <tr>
          <th>{{ editor.id }}</th>
          <td>{{ editor.name }}</td>
            <td>{{ editor.email }}</td>
          <td>
            <a href="{% url 'editor:edit_editor' editor.id %}">Editar</a>
          </td>
          <td>
            <a href="{% url 'editor:delete_editor' editor.id %}" >Excluir</a>
          </td>
          <td>
            <a href="{% url 'ndia:add_ndia' editor.id %}">Adicionar Noticia</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}